span {
  color : green
}

body {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

h1 {
font-size: 3rem;
}

h2 {
  color : red
}

#second_h2 {
  color : pink
}

.group1 {
  color : blue
}